<!DOCTYPE html>
<html>
  <head>
    <title>Anon Board</title>
    <meta name="description" content="Anonymous message board">
    <!--
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/style.css">
  </head>
  <body>
    <header>
      <nav>
        <a href='/'>
          <div class='logo-container'>
            <div class='aContainer'>
              <div class='aContainer--upper'></div>
              <div class='aContainer--lower'></div>
            </div>
            <div class='logo-container--tail'>NON</div>
          </div>
        </a>
        <a href='/faq'>
          <div class='faq'>
            ?
          </div>
        </a>
      </nav>
      <h1>
        Anon Message Board FAQ
      </h1>
    </header>
    <hr>
    <main>
      <div class='faq-content'>
        <div class='faq-question'>
          Q: What is Anon Board?
        </div>
        <div class='faq-answer'>
          A: A message board for any and all interests with no accounts or links to social media to give you the (anonymous) private experience you may appreciate.
        </div>
        <div class='faq-question'>
          Q: How do I create a new board?
        </div>
        <div class='faq-answer'>
          A: Just go to /b/boardnameyouwouldlike and create a post!
        </div>
        <div class='faq-question'>
          Q: How do I create a new post/reply?
        </div>
        <div class='faq-answer'>
          A: Just fill in the text and password boxes, then click submit. The text of your post/reply will be displayed on the board/post while the password will be yours, and only yours, to delete the post/reply in the future if you wish.
        </div>
        <div class='faq-question'>
          Q: How do I delete a post/reply?
        </div>
        <div class='faq-answer'>
          A: You need to delete password assigned to the post/reply when it was created. With this, navigate to the post/reply you wish to delete and enter in in the password field, then click delete.
        </div>
        <div class='faq-question'>
          Q: I can't find my post from yesterday, where is it?
        </div>
        <div class='faq-answer'>
          A: Each board only displays the latest 10 posts, however, any post can be accessed from its id/url. If you would like to keep a post, save the id or url and/or bookmark the post.
        </div>
        <div class='faq-question'>
          Q: I found a post really interesting and left a comment but haven't gotten a reply yet, can you give me contact info for the person that made the post?
        </div>
        <div class='faq-answer'>
          A: NO! This board is anonymous! If you did not have to enter contact info to submit your post, they did not either. We do not track users, content, history, or anything so cannot give you any details.
        </div>
      </div>
      <hr>
    </main>
  </body>
</html>
