<!DOCTYPE html>
<html>
  <head>
    <title>Anon Board</title>
    <meta name="description" content="Anonymous message board">
    <!--
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/style.css">
  </head>
  <body>
    <header>
      <nav>
        <a href='/'>
          <div class='logo-container'>
            <div class='aContainer'>
              <div class='aContainer--upper'></div>
              <div class='aContainer--lower'></div>
            </div>
            <div class='logo-container--tail'>NON</div>
          </div>
        </a>
        <a href='/faq'>
          <div class='faq'>
            ?
          </div>
        </a>
      </nav>
      <h1>
        Anon Board
      </h1>
    </header>
    <hr>
    <main>
      <div class='homepage-content'>
        <h2>
          Recent Posts
        </h2>
        <div id='recentPosts'></div>  
      </div>
      <hr>
    </main>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      $(function() {
        $.ajax({
          type: "GET",
          url: "/api/home",
          success: (data) =>
          {
            const boardThreads= [];
            data.forEach((post) => {
              let thread = [`<div class="thread">`];
              thread.push(`<div class="main">`)
              thread.push(`<p class="id">id: ${post._id} (${post.created_on}) posted on <a href='/b/${post.board}'>/b/${post.board}</a></p>`);
              thread.push(`<h3 class="thread--text">${post.text}</h3>`);
              thread.push(`</div><div class="replies">`);
              thread.push(`<h5>${post.replyCount} repl${post.replyCount === 1 ? 'y' : 'ies'} - <a href="${window.location.origin}/b/${post.board}/${post._id}">See the full thread here</a>.</h5>`);
              thread.push(`</form></div></div></div>`)
              boardThreads.push(thread.join(''));
            });
            $('#recentPosts').html(boardThreads.join(''));
          }
        });
      });
   </script>
  </body>
</html>
