<!DOCTYPE html>
<html>
  <head>
    <title>Anon Board</title>
    <meta name="description" content="Anonymous message board">
    <!--
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <header>
      <h1 id='threadTitle'></h1>
    </header>
    
    <main>
      <div id='boardDisplay'></div>

      <hr>
    </main>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      $(function() {
        let currentURL = window.location.pathname.slice(3);
        currentURL = currentURL.split('/');
        
        const url = "/api/replies/"+currentURL[0];
        $('#threadTitle').text(window.location.pathname);
        $.ajax({
          type: "GET",
          url: url,
          data:{thread_id: currentURL[1]},
          success: (threadData) =>
          {
            let boardThreads= [];
              let thread = [`<div class="thread thread--reply">`];
              thread.push(`<div class="main">`)
              thread.push(`<p class="id">id: ${threadData._id} (${threadData.created_on})</p>`);
              thread.push(`<div class="thread__actions">`);
              thread.push(`<form id="deleteThread"><input type="hidden" value="${threadData._id}" name="thread_id" required=""><input class="deleteThread--password" type="text" placeholder="password" name="delete_password" required=""><input type="submit" value="Delete" class="deleteThread--button"></form>`);
              thread.push(`<form id="reportThread"><input type="hidden" name="report_id" value=" ${threadData._id}"><input type="submit" value="Report" class="reportThread--button"></form>`);
              thread.push(`</div><h3 class="thread--title">${threadData.text}</h3>`);
              thread.push(`</div><div class="replies">`);
              threadData.replies.forEach((reply) => {
                thread.push(`<div class="reply">`)
                thread.push(`<p class="id">id: ${reply._id} (${reply.created_on})</p>`);
                thread.push(`<div class="reply__actions">`);
                thread.push(`<form id="deleteReply"><input type="hidden" value="${threadData._id}" name="thread_id" required=""><input type="hidden" value="${reply._id}" name="reply_id" required=""><input class="deleteReply--password" type="text" placeholder="password" name="delete_password" required=""><input class="deleteReply--button" type="submit" value="Delete"></form>`);
                thread.push(`<form id="reportReply"><input type="hidden" name="thread_id" value="${threadData._id}"><input type="hidden" name="reply_id" value="${reply._id}"><input class="reportReply--button" type="submit" value="Report"></form>`);
                thread.push(`</div><p class='reply__text'>${reply.text}</p>`);
                thread.push(`</div>`)
              });
              thread.push(`<div class="newReply">`)
              thread.push(`<form action="/api/replies/${currentURL[0]}/" method="post" id="newReply">`);
              thread.push(`<input type="hidden" name="thread_id" value="${threadData._id}">`);
              thread.push(`<textarea class="newReply--text" rows="5" cols="80" type="text" placeholder="Quick reply..." name="text" required=""></textarea><br>`);
              thread.push(`<input class="newReply--password" type="text" placeholder="password to delete" name="delete_password" required=""><input class="newReply--submit" type="submit" value="Submit">`)
              thread.push(`</form></div></div></div>`)
              boardThreads.push(thread.join(''));
            $('#boardDisplay').html(boardThreads.join(''));
          }
        });
        
        $('#newThread').submit(function(){
          $(this).attr('action', "/api/threads/" + currentBoard);
        });
        
        
        $('#boardDisplay').on('submit','#reportThread', function(e) {
          e.preventDefault();
          const url = "/api/threads/"+currentURL[0];
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: (data) => { alert(data) }
          });
        });
        $('#boardDisplay').on('submit','#reportReply', function(e) {
          e.preventDefault();
          const url = "/api/replies/"+currentURL[0];
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: (data) => { alert(data) }
          });
        });
        $('#boardDisplay').on('submit','#deleteThread', function(e) {
          e.preventDefault();
          const url = "/api/threads/"+currentURL[0];
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: (data) => { alert(data) }
          });
        });        
        $('#boardDisplay').on('submit','#deleteReply', function(e) {
          e.preventDefault();
          const url = "/api/replies/"+currentURL[0];
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: (data) => { alert(data) }
          });
        });              
      });
   </script>
  </body>
</html>
