* {
  margin: 0px;
  padding: 0px;
}

body {
  background: black;
  color: lightgrey;
  padding: 10px;
}

header, main {
  margin: 0 auto;
  max-width: 80rem;
}

main h2 {
  margin-bottom: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
}

.faq {
  color: lightgray;
  font-size: 125%;
  font-weight: bold;
  padding-top: 20px;
}

hr {
  margin: 50px;
}

h1 {
  margin-top: 1rem;
  text-align: center;
}

#boardPosts {
  margin-bottom: 1rem;
  text-align: center;
}

.threadDisplay {
  margin-top: 2rem;
}

a {
  color: lightBlue;
}

.replies {
  margin-left: 50px;
}

.reply {
  border-bottom: 1px dotted grey;
  padding: 5px;
}

.newReply {
  margin: 10px 5px 10px 5px;
}

.thread {
  background: #1A1A1A;
  border: 2px solid black;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.thread--reply {
  margin: 0 auto;
  width: 80%;
}

.id {
  font-size: 10.5px;
  margin-bottom: 0.5rem;
}

.thread--title {
  margin: 0.5rem 0;
}

nav, .homepage-content, #submitNewThread, .recentPosts, .faq-content {
  margin: 0 auto;
  padding: 1rem;
  width: 80%;
}

.submitNewThread--form {
  background: #1A1A1A;
  padding: 1rem;
}

.submitNewThread--title, .recentPosts--title {
  margin: 0.5rem 0;
  text-align: center;
}

.reportThread--button, .deleteThread--password, .deleteThread--button, 
.reportReply--button, .reportReply--password, .deleteReply--password, .deleteReply--button,
.newReply--password, .newReply--submit,
.submitNewThread--text, .submitNewThread--password, .submitNewThread--submit {
  border-radius: 5px;
  padding: 0.5rem;
}

textarea {
  width: 98%;
}

.thread__actions, .reply__actions, .submitNewThread__actions {
  display: flex;
  justify-content: space-between;
}

.reportThread--button, .deleteThread--button, .reportReply--button, .deleteReply--button, .newReply--submit, .submitNewThread--submit {
  background: darkgrey;
  border: none;
  color: white;
}

.deleteThread--button, .deleteReply--button, .newReply--submit {
  margin-left: 0.2rem;
}

.reply__text {
  padding: 1rem 0;
}

.newReply--text {
  padding: 0.5rem;
}

.faq-question {
  background: grey;
  font-weight: bold;
  padding: 0.2rem;
}

.faq-answer {
  background: #A1A1A1;
  color: #222;
  padding: 0.2rem;
}

.logo-container {
  background: black;
  color: lightgrey;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  padding: 2px 5px;
  width: 70px;
}

.aContainer--upper {
  border-bottom: 20px solid green;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0px;
  width: 0px;
}

.aContainer--lower {
  background: lightgrey;
  height: 20px;
  width: 20px;
}

.logo-container--tail {
  padding-left: 5px;
  padding-top: 20px;
}